<mat-toolbar class="custom-color2">
    <mat-toolbar-row fxLayout="row">
        <span>Forgot password</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close="">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordFormGroup">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" required="">
                <mat-error *ngIf="forgotPasswordFormGroup.controls.email.touched && forgotPasswordFormGroup.controls.email.invalid">
                    <span *ngIf="forgotPasswordFormGroup.controls.email.errors.required">Dòng này là bắt buộc</span>
                    <span *ngIf="forgotPasswordFormGroup.controls.email.errors.pattern">Email chưa đúng định dạng</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button class="custom-color" type="submit" (click)="handleSubmit()" [disabled]="!(forgotPasswordFormGroup.valid )" >
        <mat-icon>send</mat-icon>
      </button>
      <button mat-raised-button class="cancel-button" mat-dialog-close="">
        Đóng
      </button>
</mat-dialog-actions>