<mat-toolbar>
    <mat-toolbar-row fxLayout="row" class="custom-color2">
        <span>Change password</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="changePasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field style="margin-top: '10px';" appearance="standard">
                <mat-label>Mật khẩu cũ</mat-label>
            <input matInput formControlName="oldPassword" required=""
            [type]="oldPasswordShow ? 'password' : 'text'"
            >
            <button matSuffix mat-icon-button (click)="oldPasswordShow = !oldPasswordShow">
                <mat-icon> {{oldPasswordShow ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
                <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">Mật khẩu không được bỏ trống</span>
            </mat-error>
            </mat-form-field>

            <mat-form-field style="margin-top: '10px';" appearance="standard">
                <mat-label>Mật khẩu mới</mat-label>
            <input matInput formControlName="newPassword" required=""
                [type]="newPasswordShow ? 'password' : 'text'"
            >
            <button matSuffix mat-icon-button (click)="newPasswordShow = !newPasswordShow">
                <mat-icon>{{newPasswordShow ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
                <span *ngIf="changePasswordForm.controls.newPassword.errors.required">Mật khẩu không được bỏ trống</span>
            </mat-error>
            </mat-form-field>

            <mat-form-field style="margin-top: '10px';" appearance="standard">
                <mat-label>Nhập lại mật khẩu mới</mat-label>
            <input matInput formControlName="retypeNewPassword" required=""
            [type]="retypeNewPasswordShow ? 'password' : 'text'"
            >
            <button matSuffix mat-icon-button (click)="retypeNewPasswordShow = !retypeNewPasswordShow">
                <mat-icon>{{retypeNewPasswordShow ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.controls.retypeNewPassword.touched && changePasswordForm.controls.retypeNewPassword.invalid">
                <span *ngIf="changePasswordForm.controls.retypeNewPassword.errors.required">Mật khẩu không được bỏ trống</span>
            </mat-error>
            <mat-hint *ngIf="validatePassword() && !changePasswordForm.controls.retypeNewPassword.invalid">
                <span class="password-not-match">Mật khẩu chưa khớp</span>
            </mat-hint>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button type="submit" (click)="handleChangePasswordSubmit()" [disabled]="validatePassword() ||!changePasswordForm.valid"
    class="custom-color"
    >
        <mat-icon>send</mat-icon>
    </button>
    <button mat-raised-button mat-dialog-close="" class="cancel-button">Đóng</button>
</mat-dialog-actions>
